<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-4 title-section" style="margin-top: 10%;">
          <h2 class="heading">Display player</h2>
        </div>
       
        <div class="card"  style="margin-top: 20%;width: 30%;">
            <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid ">
            <div class="card-body">
              <p class="card-text">First name : {{players?.name}}</p>
              <p class="card-text">Last name : {{players?.lastName}}</p>
              <p class="card-text">Age : {{players?.age}}</p>
              <p class="card-text">Team : {{players?.team}}</p>
            </div>
          </div>
      

    </div>
  </div>
</div>
