<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-6 title-section" style="margin-top: 10%">
            <h2 class="heading">{{title}}</h2>
          </div>
        <div class="col-lg-7">
          <form [formGroup]="addEditMatchForm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Team 1" formControlName="team1" value="{{findedMatch.team1}}" [(ngModel)]="findedMatch.team1">
            </div>
            <div *ngIf="addEditMatchForm.controls['team1'].invalid && (addEditMatchForm.controls['team1'].touched || addEditMatchForm.controls['team1'].dirty)">
              <div *ngIf="addEditMatchForm.controls['team1'].errors.required" class="text-danger">
                  team1  is required
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Score 1" formControlName="score1" value="{{findedMatch.score1}}" [(ngModel)]="findedMatch.score1">
            </div>
            <div *ngIf="addEditMatchForm.controls['score1'].invalid && (addEditMatchForm.controls['score1'].touched || addEditMatchForm.controls['score1'].dirty)">
              <div *ngIf="addEditMatchForm.controls['score1'].errors.required" class="text-danger">
                  score1 plat is required
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Team 2" formControlName="team2" value="{{findedMatch.team2}}" [(ngModel)]="findedMatch.team2">
            </div>
            <div *ngIf="addEditMatchForm.controls['team2'].invalid && (addEditMatchForm.controls['team2'].touched || addEditMatchForm.controls['team2'].dirty)">
              <div *ngIf="addEditMatchForm.controls['team2'].errors.required" class="text-danger">
                  team2  is required
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Score 2" formControlName="score2" value="{{findedMatch.score2}}" [(ngModel)]="findedMatch.score2">
            </div>
            <div *ngIf="addEditMatchForm.controls['score2'].invalid && (addEditMatchForm.controls['score2'].touched || addEditMatchForm.controls['score2'].dirty)">
              <div *ngIf="addEditMatchForm.controls['score2'].errors.required" class="text-danger">
                  score2 plat is required
              </div>
            </div>
            <div class="form-group">
              <button href="#" class="btn btn-primary py-3 px-5" (click)="addOrEditMatch(addEditMatchForm.value)">{{title}}</button>
            </div>
          </form>  
        </div>
     
      </div>
    </div>
</div>
