<div class="container" >
      

    <div class="row" >
      <div class="col-lg-12">
        
        <div class="d-flex team-vs" style="margin-top: 20%">
          <span class="score">{{matchs?.score1}} - {{matchs?.score2}}</span>
          <div class="team-1 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
              <h3>{{matchs?.team1}} <span></span></h3>
           
            </div>
          </div>
          <div class="team-2 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
              <h3>{{matchs?.team2}} <span></span></h3>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>